@model Vehicle


<div class="row">
    <div class="col-md-12">
        <div class="popup-main">
            <div class="popup-inner">
                <div class="popup-body bg-light">
                    <h2>Meddelande från garaget</h2>
                    <p>Detta är paragraph texten</p>
                </div>

                <div class="popup-footer">

                    <div class="popup-footer_ch1">
                        <button class="btn btn-outline-primary">OK</button>
                    </div>

                    <div class="popup-footer_ch2">
                        <button class="btn btn-outline-primary">OK</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>




