@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 fw-bolder">Välkommen till garage teamet</h1>

    <p class="text-uppercase">Alltid till din tjänst med lediga platser dygnet runt</p>

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>



<div class="bg-image" 
     style="background-image: url('/images/parking-garage.jpg');
            height: 100vh">
</div>
